body {
    margin: 0;
    background-color: white;
}

.aside a {
    text-decoration: none;
}

#content_nav {
    margin: 0 15px;
}

.contentBlock {
    margin: 0 10px;
}

section h2 {
    font-style: italic;
    font-size: x-large;
}

.title {
    font-size: xx-large;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article {
    margin: 5px;
    padding: 0 5px 2px;
    background: white;
    -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#arrow_up {
    position: fixed;
    float: right;
    bottom: 15px;
    right: 0;
    margin-right: 30px;
}

@media (min-width: 1500px) {
    .content {
        font-size: 1.3em;
    }
    .content h2 {
        font-size: 1.2em;
    }
    .content .img-fluid {
        width: 30%;
    }

    .aside {
        font-size: 1.65em;
    }
    .aside .dropdown-menu {
        font-size: 1em;
    }
}
