a, a:visited {
    color: #0000FF;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.notification{
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 1.5rem;
    color: red;
}

.coordinate {
    padding: 1rem;
    font-size: 2rem;
}

.img{
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
.border{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 0;
    background-color: gray;
}

.pane {
    border: #27cdf5 solid 1px;
    padding: 5px;
    position: relative;
}

.remove-button {
    margin-top: 15px;
    position: absolute;
    font-size: 110%;
    top: 0;
    color: black;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}
