:root {
    --social-media-button-size: 1.5rem;
}

.container-social-media-buttons {
    display: flex;
    justify-content: space-around;
}

.container-single-social-media-button {
    position: relative;
    display: flex;
    width: var(--social-media-button-size);
    height: var(--social-media-button-size);
    border-radius: 50%;
    padding: 0.7rem;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.container-single-social-media-button::before {
    position: absolute;
    content: '';
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgba(255,0,245,1) 0%, rgba(250,133,118,1) 70%, rgba(245,255,0,1) 100%);
    z-index: -1;
    transition: all .7s;
    border-radius: 50%;
    filter: blur(5px);
}
.container-single-social-media-button:hover::before {
    top: 0%;
    transition: all .7s;
}
.social-media-button {
    justify-self: center;
    align-self: center;
}
.pic-social-media{
    width: 100%;
    height: auto;
}

@media (max-width:767px) {
    .container-social-media-buttons{
        flex-wrap: wrap;
    }
    .container-social-media-buttons a{
        margin: 0.5rem;
    }
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    font-size: inherit;
    font-weight: 400;
}

.footer {
    color: white;
    display: grid;
    padding: 1rem 4rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    background-color: #3044a4;
    grid-area: footer;
}

.title-h1 {
    margin: 1.5rem 0;
    font-size: 4rem;
}
.title-h2{
    font-size: 3rem;
    margin: 1.5rem 0;
}
.title-h3{
    position: relative;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.title {
    text-align: center;
}

.footer__container{

}
.footer__img__container {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.footer__img {
    margin: 0 1%;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    background-color: #3e56cb;
}

.title-h3::before{
    content: '';
    position: absolute;
    height: 0.2rem;
    width: 4.5rem;
    top: 100%;
    left: 0;
    background-color: #677088;
    transition: .7s;
}

.title-h3 {
    transition: .7s;
}

.title-h3:hover {
    scale: 1.1;
    transition: .7s;
}

.title-h3:hover::before{
    background-color: white;
    width: 6rem;
    transition: .7s;
}

.footer ul li a{
    color: white;
}
.footer ul li{
    margin: 0.5rem 0;
    list-style: none;
}

.footer ul {
    padding: 0;
}

@media (max-width:992px) {
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:767px) {
    .footer{
        grid-template-columns: 1fr;
    }
}
