.already_have_account {
    padding-top: 10px;
    width:100%;
    height:100%;
    display:inline-block;
    text-align:center;
}

.btn-animated {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 2px 0 rgba(255,255,255,.5),
                      7px 7px 20px 0 rgba(0,0,0,.1),
                      4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
}


/*Кнопка входа в аккаунт*/
.btn-log-in{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    perspective: 230px;
}

.btn-log-in span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    box-sizing: border-box;
    transition: all .3s;
}
.btn-log-in span:nth-child(1) {
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    transform: rotateX(90deg);
    transform-origin: 50% 50% -20px;
}
.btn-log-in span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
}
.btn-log-in:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transform: rotateX(0deg);
}
.btn-log-in:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    transform: rotateX(-90deg);
}


/*Кнопка отправки формы*/
.btn-submit {
    background: linear-gradient(-90deg, cornflowerblue 0%, deepskyblue 100%);
    border-radius: 5px;
    line-height: 42px;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}
.btn-submit span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-submit:before, .btn-submit:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: deepskyblue;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-submit:before{
    height: 0%;
    width: 2px;
}
.btn-submit:after {
    width: 0%;
    height: 2px;
}
.btn-submit:hover{
    color: deepskyblue;
    background: transparent;
}
.btn-submit:hover:before {
    height: 100%;
}
.btn-submit:hover:after {
    width: 100%;
}
.btn-submit span:before,
.btn-submit span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: deepskyblue;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-submit span:before {
    width: 2px;
    height: 0%;
}
.btn-submit span:after {
    height: 2px;
    width: 0%;
}
.btn-submit span:hover:before {
    height: 100%;
}
.btn-submit span:hover:after {
    width: 100%;
}

/*Кнопка сброса формы*/
.btn-reset {
    background: cornflowerblue;
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.btn-reset:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: navy;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(255,255,255,.5),
                7px 7px 20px 0px rgba(0,0,0,.1),
                4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.btn-reset:hover {
    color: #fff;
}
.btn-reset:hover:after {
    left: 0;
    width: 100%;
}
.btn-reset:active {
    top: 2px;
}


#reg_window {
    width:100%;
    height:100%;
    display:inline-block;
}

#reg_window * {
    box-sizing: border-box;
}

form {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

.centered_form {
    width:100%;
    display:block;
    padding: 0 15px 0 15px;
}

#reg_fieldset {
    border-radius: 7px;
    border: steelblue 2px solid;
    box-shadow: 0 10px 20px 2px rgba(0,0,0,0.2);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.double_element{
    margin:auto;
    width:100%;
    display:table;
}
legend {
    margin:auto;
}

#username_form, #password_form, #password_confirm_form, #email_form, #tel_form {
    margin: 0;
}

.double_element .elem_form {
    float:left;
    width: 40%;
    height: 50px;
    margin:auto;
    display: inline-block;
}

.double_element  .right {
    float:right;
    width: 40%;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 40px;
    display: inline-block;
}

.elem_form {
    flex:1;
    height:fit-content;
    margin: auto auto 20px;
    position:relative;
    display:block;
}

label {
    display:block;
    margin-bottom:10px;
}

input::placeholder {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 15px;
    text-align: left;
}

input[type=text], input[type=email], input[type=tel], input[type=password] {
    display: block;
    height: 32px;
    padding-left:10px;
    border-radius: 4px;
    border: solid rgb(143, 153, 143) 2px;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
}

.elem_form button[type=submit] {
    font-size: 16px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus {
    border: solid cornflowerblue 2px;
}

.elem_form input[type=submit]:focus{
    border: solid cornflowerblue 2px;
}
.elem_form input[type=submit]:hover{
    border: solid cornflowerblue 2px;
}

.elem_form button[type=reset] {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    transition:all 0.5s;
    font-size: 16px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

.elem_form button[type=reset]:focus{
    border: solid cornflowerblue 2px;
}
.elem_form button[type=reset]:hover {
    border: solid cornflowerblue 2px;
}

.multiple_answers{
    display:flex;
}

.multiple_answers .multiple_answers_title_button {
    display: flex;
    flex-direction: row;
    height: 25px;
    line-height: 25px;
    margin-left: 20px;
}

.multiple_answers .multiple_answers_title_button input {
    margin-left: 5px;
}

.multiple_answers .multiple_answers_title_button label {
    width: 100%;
    white-space: nowrap;
}

#required_fields {
    font-size: 0.7em;
}

.notification {
    position: fixed;
    left: 95%;
    top: 120px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1.2s;
    animation-name: rectangle-to-circle;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
}

.notification:hover {
    left: calc(95% - 200px);
    
    animation-name: circle-to-rectangle;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
}

.notification:hover .notification-header
{
    width: 100%;
    background-color: blueviolet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notification:hover .dropdown-items {
    transition: 1.2s ease-out;
    transform: scale(100%);
}

.notification .notification-header {
    width: 100%;
    transition: 1.2s;
    display: flex;
    justify-content: start;
    padding: 10px 0 10px 0;
}

.notification-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.notification .dropdown-items {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s ease;
    transform: scale(0);
}

.item-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    justify-items: center;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.item:hover .item-circle {
    color: blueviolet;
}

.dropdown-items .item {
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: 0.7s;
}

.dropdown-items .item:hover {
    transform: scale(105%);
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
}

@keyframes circle-to-rectangle {
    from {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    to {
        box-shadow: 0 10px 10px 2px rgba(122, 122, 122, 0.5);
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
}

@keyframes rectangle-to-circle {
    from {
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    to {
        width: 50px;
        height: 50px;
        border-radius: 50%;

    }
}