body {
    background: black;
    color: white;
    width: 80%;
    margin: 30px auto;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin: 0 0 30px;
}

div {
    font-size: 0;
}

.gallery {
    display: grid;
    grid-auto-flow: dense;
    gap: 10px;
    grid-template-columns: repeat(4, calc(25% - 10px));
    grid-template-rows: repeat(3, 350px);
}

.img_element {
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 8px;
    width: 100%;
    margin-right: 8px;
}

.long_img {
    grid-column: span 2;
}
.long_long_img{
    grid-column: span 3;
}
.height_img {
    grid-row: span 2;
}

.img_element:nth-of-type(2n) {
    margin-right: 0;
}

@media screen and (min-width: 50em) {

    .img_element:nth-of-type(2n) {
        margin-right: 8px;
    }

    .img_element:nth-of-type(4n) {
        margin-right: 0;
    }
}

.img_element {
    overflow: hidden;
    height: 100%;
    border-radius: 4px;
    position: relative;
}

.img_element img {
    min-width: 100%;
    height: 100%;
    transition: .5s;
}
.img_element:hover img {
    transform: scale(1.2);
    filter: blur(2px);
}

@keyframes show-image-description {
    from {
        position: absolute;
        transform: translateX(-100%);
    }
    to {
        position: absolute;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 15px;
        margin: 0;
        border-bottom: 2px solid #c9c9c9;
        transform: translateX(0);
    }
}

.img_element h3 {
    top: 45%;
    font-size: 1.1rem;
}
.img_element p {
    top: 58%;
    font-size: 0.9rem;
}
.img_element:hover h3,
.img_element:hover p {
    animation-name: show-image-description;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@media only screen and (max-width: 480px) {
    .img_element {
        height: 370px;
    }
    .img_element h3 {
        font-size: 1.4rem;
        top: 47%;
    }
    .img_element p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .img_element h3 {
        font-size: 1.1rem;
        top: 45%;
    }
    .img_element p {
        font-size: 0.9rem;
    }
}


.p a {
    display: inline;
    font-size: 13px;
    margin: 0;
}

.p {
    text-align: center;
    font-size: 13px;
    padding-top: 100px;
}

.btn-animated {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    padding: 0 10px 0 10px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    outline: none;
}

.btn-add-image {
    width: fit-content;
    height: 40px;
    line-height: 42px;
    border: none;
    background: transparent;
}
.btn-add-image:hover {
    color: lightblue;
    background: transparent;
    box-shadow:none;
}
.btn-add-image:before,
.btn-add-image:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: gold;
    transition:400ms ease all;
}
.btn-add-image:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-add-image:hover:before,
.btn-add-image:hover:after{
    width:100%;
    transition:800ms ease all;
}