@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin');
* {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: normal;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.quote a:hover {
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-areas:
    "header header header"
    "aside  navigation ads"
    "aside main ads"
    "footer footer footer";
    grid-template-columns: 150px auto 150px;
    grid-template-rows: auto 150px auto 1fr;
    grid-gap: 5px 5px;
}

.header {
    /*background-color: aquamarine;*/
    grid-area: header;
}

#content_nav {
    /*background-color: darkgreen;*/
    grid-area: navigation;
}

.contentBlock {
    /*background-color: #242930;*/
    grid-area: main;
}

.aside {
    /*background-color:blue;*/
    grid-area: aside;
}

.ads {
    /*background-color: blueviolet;*/
    grid-area: ads;
}

.footer {
    grid-area: footer;
}

section h2 {
    font-style: italic;
    font-size: x-large;
}

#title_image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 15px auto auto auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 650px) {
    #title_image {
        display: none;
    }
}

.title {
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.article {
    margin: 5px;
    padding: 0 5px 2px;
    background: white;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

#comet_image, #asteroid_image {
    float: left;
    margin: 0 10px 10px 0;
}

@media (max-width: 445px) {
    #comet_image, #asteroid_image {
        display: none;
    }
}

#arrow_up {
    position: fixed;
    float: right;
    bottom: 15px;
    right: 0;
    margin-right: 30px;
}

/*Tablets*/
@media (max-width:992px) {
    body{
        display: grid;
        grid-template-areas:
        "header header"
        "navigation navigation"
        "aside main"
        "ads footer";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto 150px auto auto;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .long_long_img{
        grid-column: span 3
    }
}

/*Mobile*/
@media (max-width:767px) {
    body {
        display: grid;
        grid-template-areas:
        "header"
        "navigation"
        "main"
        "aside"
        "ads"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 150px auto 1fr 1fr auto;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: none;
    }

    .long_long_img{
        grid-column: span 1
    }
    .long_img{
        grid-column: span 1
    }
    .height_img {
        grid-row: span 1;
    }

    .form{
        grid-template-columns: 1fr;
    }
    .form__long_text {
        grid-column: span 1;
    }
}